
<form  class="mat-elevation-z8">
    <mat-toolbar color="primary">Login</mat-toolbar>
    <div class="form-fields">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username" name="username" type="text" placeholder="Ebee" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" name="password" [type]="'hide' ? 'password' : 'text' " required>
            <button mat-icon-button matSuffix (click)="'hide = !hide'" type="button">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility' }} </mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="form-buttons">
        <button mat-raised-button type="submit" color="amber" style="margin-top: 10px;"(click)="Ui.login">Login</button>
        <button mat-raised-button type="button" color="primary" style="margin-top: 10px" (click)="Ui.register">Register</button>
    </div>


</form>